@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
* {
    box-sizing: border-box;
}

.container {
    font-family: 'Roboto', sans-serif;
    display: block;
    width: 400px;
    height: 85vh;
    background-color: lightslategray;
    margin: 10px auto;
    border-radius: 20px;
    border-color: black;
    border-width: 5px;
    border-style: solid;
}

.display {
    display: grid;
    grid-template-rows: 1fr 2fr;
    width: 370px;
    height: 100px;
    background-color: white;
    text-align: right;
    margin: 10px auto;
    border-radius: 10px;
    vertical-align: top;
    box-shadow: 2px 2px black;
}

.firstDisplay {
    margin-right: 10px;
    font-size: 25px;
}

.secondDisplay {
    font-size: 50px;
    font-weight: bolder;
    margin-right: 10px;
}

.secRow {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 12px;
}

.clear {
    width: 130px;
    height: 50px;
    background-color: white;
    text-align: center;
    margin-top: 5px;
    margin-left: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 2px 2px black;
}

.clear:hover {
    background-color: lightblue;
    cursor: pointer;
}

.backspace {
    width: 230px;
    height: 50px;
    background-color: white;
    text-align: center;
    margin-top: 5px;
    margin-right: 10px;
    margin-bottom: 10px;
    border-radius: 10px;
    font-size: 25px;
    box-shadow: 2px 2px black;
}

.backspace:hover {
    background-color: lightblue;
    cursor: pointer;
}

.keypad {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    margin: auto auto;
    margin-left: 11px;
    column-gap: 2px;
}

.keypadBtn , .operatorBtn, .equalBtn , .pointBtn {
    width: 85px;
    height: 80px;
    border-radius: 10px;
    margin-bottom: 5px;
    box-shadow: 2px 2px black;
    font-size: 30px;
}

.keypadBtn:hover {
    background-color: lightblue;
    cursor: pointer;
}



.footer {
    background-color: #1F2937;
    color: #E5E7EB;
    text-align: center;
    padding: 20px;
}

a {
    text-decoration: none;
    color: #E5E7EB;
}